/*global styles*/
* {
    margin: auto;
    padding: 10px;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 50px;
}
/*removes hidden class from html element when button is clicked in javascript*/
.hidden {
    display: none;
}
/*also adds unclickable class to button when clicked*/
.unclickable {
    pointer-events: none;
    opacity: 0.5;
}
/*main styling*/
.generative-AI {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    max-width: 600px;
    width: 90%;
}
/*makes all span elements display block to give space between*/
span {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.6;
}
/*label span and button styling*/
label {
    display: block;
    margin: 20px 0 10px;
    font-size: 18px;
}
input {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 2px solid lightseagreen;
    border-radius: 5px;
}
button {
    background-color: lightseagreen;
    color: white;
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
/*change background color when button is hoveres*/
button:hover {
    background-color: seagreen;
}
.generated-recipe {
    text-align: start;
}
/*media tag for phone view*/
@media only screen and (max-width: 768px) {
    button {
        width: 100%;
    }
    input {
        width: 100%;
    }
    .generated-recipe {
        font-size: 18px;
    }
}